# SZ3 Configuration File
#
# This file configures SZ3 compression and decompression settings.
# Uncomment and modify the settings below as needed.
# For detailed explanations of each option and their valid values, refer to SZ3/utils/Config.hpp.
#
# Default values are used if settings are commented out or omitted.

[GlobalSettings]

# Compression algorithm
# Options: ALGO_LORENZO_REG, ALGO_INTERP_LORENZO, ALGO_INTERP, ALGO_NOPRED, ALGO_LOSSLESS, ALGO_BIOMD, ALGO_BIOMDXTC, ALGO_SVD, ALGO_SPERR
CmprAlgo = ALGO_INTERP_LORENZO

# Error bound mode
# Options: ABS, REL, PSNR, NORM, ABS_AND_REL, ABS_OR_REL
ErrorBoundMode = ABS

# Absolute error bound (used with ABS mode)
AbsErrorBound = 1e-3

# Relative error bound (used with REL mode)
# RelErrorBound = 1e-3

# PSNR error bound (used with PSNR mode)
# PSNRErrorBound = 70

# L2 norm error bound (used with NORM mode)
# L2NormErrorBound = 0.333

# Enable OpenMP for parallel processing (YES or NO)
# OpenMP = NO



[AlgoSettings]

# Advanced algorithm settings for tuning (not recommended for regular users)
# Uncomment only if you understand the implications.

# InterpolationAlgo = INTERP_ALGO_CUBIC
# InterpolationDirection = 0
# Lorenzo = Yes
# Lorenzo2ndOrder = No
# Regression = Yes
# Regression2ndOrder = No
# BlockSize = 6
# QuantizationBinTotal = 65536
# SVDEnergyThreshold = 0.99
# SVDQuantEBScale = 0.01
